* {
  box-sizing: border-box;
}

h1 {
  margin-left: 12%;
  margin-top: 6%;
}

h1,
h2 {
  font-size: 2.5rem;
}

main {
  margin-left: 10%;
  margin-top: 4%;
}

.search-bar {
  text-align: center;
  margin-bottom: 5%;
}

.search-box input {
  width: 40%;
  height: 40px;
  color: rgb(102, 70, 0);
  padding-left: 5px;
}

.search-box span {
  padding: 5px;
}

.search-box span:hover {
  cursor: pointer;
  color: chartreuse;
}

section ul {
  margin-bottom: 5%;
  margin: 1% 5% 5%;
}

li a {
  color: rgb(10, 44, 6);
}
